<ul class="list-inline text-center">
  <% ["jo", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
